@import "tailwindcss";

@font-face {
  font-family: "IRANSansWeb";
  font-style: normal;
  font-weight: normal;
  font-size: normal;
  src: url("./assets/font/iranyekanwebbold(fanum).eot"),
    url("./assets/font/iranyekanwebregular(fanum).woff2") format("woff2"),
    url("./assets/font/iranyekanwebregular(fanum).woff") format("woff"),
    url("./assets/font/iranyekanwebregular(fanum).ttf") format("truetype");
}
* {
  font-family: IRANSansWeb;
  text-decoration: none !important;
}

body {
  width: 100vw;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
  width: 100vw;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Vazirmatn", sans-serif;
  background: var(--background);
  color: var(--foreground);
}

.social-link:hover {
  color: #003572b5 !important;
}
.tpg-widget-heading-wrapper.heading-style4 {
  margin-bottom: 40px;
}
.elementor *,
.elementor :after,
.elementor :before {
  box-sizing: border-box;
}
.tpg-widget-heading-wrapper {
  display: flex;
  margin-bottom: 30px;
  position: relative;
}
.rt-tpg-container * {
  box-sizing: border-box;
}

.elementor-13
  .elementor-element.elementor-element-0f5594c
  .tpg-widget-heading-wrapper.heading-style4::before {
  bottom: -17px;
}

.tpg-widget-heading-wrapper.heading-style4:before {
  background-color: rgb(0, 0, 0);
  bottom: -17px;
  height: 6px;
  right: 0;
  transform: skewX(25deg);
  width: 45px;
}
.elementor-13
  .elementor-element.elementor-element-0f5594c
  .tpg-widget-heading-wrapper
  .tpg-widget-heading {
  font-size: 17px !important;
}

.tpg-widget-heading-wrapper .tpg-widget-heading {
  font-size: 17px;
  line-height: 1;
  margin-bottom: -1px !important;
  margin-top: 0;
  padding-left: 15px;
  padding-top: 0;
  position: relative;
}

.elementor-13
  .elementor-element.elementor-element-0f5594c
  .tpg-widget-heading-wrapper.heading-style4::after {
  bottom: calc(-17px + 2px);
}

.tpg-widget-heading-wrapper.heading-style4:after {
  background-color: #dcdcdc;
  bottom: -15px;
  height: 1px;
  margin-right: 10px;
  left: 0;
  width: calc(100% - 55px);
}
.tpg-widget-heading-wrapper.heading-style4:after,
.tpg-widget-heading-wrapper.heading-style4:before {
  content: "";
  position: absolute;
}
.elementor *,
.elementor :after,
.elementor :before {
  box-sizing: border-box;
}
.article-box {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.ad-item {
  margin-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.main-info {
  width: calc(100% - 300px);
}

.main {
  padding: 30px 50px;
  width: 100%;
}
.dashboard-wrapper {
  display: flex;
}

.dashboard-wrapper {
  display: flex;
}
.is-flex {
  display: flex;
}
.is-success {
  background-color: #48c78e;
  border-color: transparent;
  color: #fff;
}
.is-danger {
  background-color: #f14668 !important;
  border-color: transparent !important;
  color: #fff !important;
}

.dashboard-wrapper {
  display: flex;
}

.main-info {
  width: calc(100% - 300px);
}
.num-views {
}
.shareLinks a {
  width: 40px;
  max-width: none;
}
.shareLinks img {
  width: 100% !important;
  max-width: none;
}
.icon-top {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  max-width: 20px;
}
.LinksAndIcons {
  display: flex;
  margin-left: 20px;
  align-items: center;
  justify-content: left;
  flex: 1 0 0%;
  flex-direction: row;
}
.arrow-active {
  transform: rotate(180deg);
}
.description img {
  margin: 0 auto;
}

.icon-clock:before {
  content: "";
}
.header {
  backdrop-filter: blur(1px);
  background: rgb(0 0 0 / 0%);
}

li,
span {
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .headImage {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), 0 100%) !important;
  }
}
@media only screen and (min-width: 750px) {
  .headImage {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 0 100%);
  }
}

.owner-box {
  -webkit-clip-path: polygon(0 30px, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 30px, 100% 0, 100% 100%, 0 100%);
}
.section {
  background-color: rgb(28 28 28 / 100%);
  color: white;
  padding: 10px;
}

.title::after {
  background: url("../public/underline.webp") 50% top no-repeat;
  background-size: 100% 9px;
  border-radius: 999px;
  color: green;
  content: "";
  height: 9px;
  image-rendering: -webkit-optimize-contrast;
  left: 0;
  position: absolute;
  right: 0;
  top: 120%;
}
.mask-arrow {
  -webkit-clip-path: polygon(
    0 0,
    calc(50% - 30px) 0,
    50% 30px,
    calc(50% + 30px) 0,
    100% 0,
    100% 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    calc(50% - 30px) 0,
    50% 30px,
    calc(50% + 30px) 0,
    100% 0,
    100% 100%,
    0 100%
  );
}
.service-box {
  background-color: rgba(254, 254, 254, 0.06);
  padding: 15px 15px 0px 15px;
  border-radius: 10px;
}
.comment-item {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.nav-bar > ul > div > span:hover {
  opacity: 70%;
}

.bac-header {
  height: 120px;
  width: 100%;
  position: absolute;
  right: 5px;
  opacity: 0.7;
}
.category {
  padding: 5px;
  font-weight: 200;
  font-size: 14px;
}

.sub-cats:hover {
  display: block !important;
}
.nav-bar {
  background-color: #000000f7;
  backdrop-filter: blur(10px);
}
.ql-editor {
  direction: rtl !important;
  text-align: right !important;
}
