.sidebar {
  padding: 50px 0 0 0;
  background: rgb(231, 231, 231);
  width: 300px;
  max-width: 300px;
  height: 100vh;
  top: 0;
  position: sticky;
}

.logo {
  margin: auto;
  padding: 4px;
  color: #fff;
  font-size: 12px;
  height: 115px;
}

.sidebar .list {
  padding: 0 25px;
  margin: 5px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.sidebar .list div,
.sidebar .list .a {
  cursor: pointer;
  transition: 0.1s;
  padding: 8px 13px;
  border-radius: 7px;
  width: 100%;
  color: rgb(42, 42, 42);
}

.sidebar .list div:hover,
.sidebar .list .a:hover {
  background: rgba(255, 255, 255, 0.459);
}
.sidebar a {
  color: unset;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100px;
  }

  .sidebar .list {
    padding: 0 2px;
  }

  .sidebar .list div {
    margin: 2px 0;
    padding: 2px 2px;
  }

  .sidebar .list .a {
    font-size: 11px !important;
  }
}
